<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="RS$ 299,99"
  >
  </app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS4"
    gamePrice="RS$ 129,90"
  >
  </app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="NEW"
    gameType="DISC | PS3 PS4 PS5"
    gamePrice="RS$ 199,00"
  >
  </app-card>
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="FREE TRIAL"
    gameType="DIGITAL | PS3 PS4"
    gamePrice="RS$ 176,00"
  >
  </app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="PREMIUM VERSION"
    gameType="DISC | PS3 PS4 PS5"
    gamePrice="RS$ 89,00"
  >
  </app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL | PS3 PS4 "
    gamePrice="RS$ 97,00"
  >
  </app-card>

</div>
